

#home
{
    width: 100%;
    height: 667px;
    background-image: url(../images/events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    position: relative;
   
}

.homeOverlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51 , 0.6);

}

#home h2
{
    margin-top: 200px;
    
}


#home h2,p
{
    text-align: center;
    
}

.sub-navBar 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #414658;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}


.sub-navBar a 
{
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}


.sub-navBar a:hover, .offcanvas a:focus
{
    color:  rgba(214, 46, 51 , 0.4);
}

.sub-navBar .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main 
{
    transition: margin-left .5s;
    padding: 16px;
}

#main h2
{
    font-size: 60px;
}


/*
---------------------------------------------------------------------
                    End Of Home & Navbar
---------------------------------------------------------------------
*/



#singers
{
    margin: 100px auto;
    width: 60%;
    
}

#singers h3
{
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51 , 0.6);
    cursor: pointer;
    color: white;
}


#singers div
{
    color: white;
    padding: 10px;
    background-color: #414658;
    display: none;
}

/*
---------------------------------------------------------------------
                        End Of Singers 
---------------------------------------------------------------------
*/



#counter
{
   
    background-image: url(../images/invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 600px;
    
    
}

.countOverlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51 , 0.6);
    color: white;
}

.container
{
    padding: 100px 0px;
}

.time
{
    text-align: center;
    padding: 50px;
    border: 1px solid #FFF;
    margin-top: 40px; 
}

h1
{
    font-size: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}



/*
---------------------------------------------------------------------
                        End Of Counter 
---------------------------------------------------------------------
*/



#contact .conInfo h2
{
    text-transform: uppercase;
    font-size: 35px;
    color:#444;
    font-weight: bold;
    margin-bottom: 20px;
}

#contact .conInfo p
{
    color:#777;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 30px;
}

#contact .conAbout h3
{
    color:#444;
    font-size: 18px;
    font-weight: bold;
}

#contact .conAbout p
{
    font-size: 16px;
    color:#777;
    padding: 10px 0px;
}

#contact .conIco
{
    margin-top:20px;
}

#contact .conIco p 
{
    margin-bottom: 35px;
}

#contact i
{
    margin-right: 20px;
    color:#777;
}

#contact .mail
{
    color:#D62E33 !important;
}


.conMedia
{
    margin-top:60px;
    color:#777;
    
}

.conMedia i
{
    font-size: 18px;
    border:1px solid #999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

#contact .conAbout .conMedia i:hover
{
    color:#fff;
    background-color: #D62E33;
    border:1px solid #D62E33;
}

#contact form input
{
    margin-bottom: 20px;
}

#contact form textarea
{
    height: 200px;
    resize:vertical;
    margin-bottom: 20px;
}

#contact form button
{
    background-color: #D62E33;
    color:#fff;
    padding:10px 20px;
    border-radius: 0;
    text-transform: uppercase
}

#char
{
    font-size: 20px;
    color: #D62E33;
}

@media screen and (max-height: 850px) 
{
    #contact form input
    {
        width: 90%;
        margin-left: 20px;
    }

    #contact form textarea
    {
        width: 90%; 
        margin-left: 20px;
    }
    .conMedia , #char , #contact form button 
    {
        margin-left:20px;
    }
}